Schemas/message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/message" xmlns:tns="http://www.example.org/message" elementFormDefault="qualified">

<complexType name="msg">
          <sequence>
          <element name="name" type="string"></element>
          <!--  
          <element name="place" type="string"></element> 
          -->          
          </sequence> 

</complexType>


</schema>